
/* This file imports all navigation styles from their respective modules */
@import './navigation/base.css';
@import './navigation/desktop-sidebar.css';
@import './navigation/mobile.css';
@import './navigation/schedule.css';
@import './navigation/tabs.css';

/* Custom styling for the "IN AND OUT" button */
.time-clock-nav-button {
  background-color: rgba(20, 184, 166, 0.1);
  color: rgb(15, 118, 110);
  font-weight: 500;
}

.time-clock-nav-button:hover {
  background-color: rgba(20, 184, 166, 0.2);
}

/* Custom styling for salary button */
.salary-nav-button {
  color: rgb(15, 118, 110);
}
